
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    color: white;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 200px;
}

nav .logo img {
    height: 80px;
    font-weight: bold;
}

nav .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}
.mainsec{
    display: flex;
}

.hero {
  background: url(../images/left-banner-image.jpg);
    text-align: center;
    padding: 100px 20px;
    width: 800px;
    height: 400px;
    margin: 20px 20px;
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: #ffffff;
}

.hero p {
    font-size: 30px;
    margin-bottom: 80px;
    color: #ffffff;
}

.hero .btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin-top: 60px;
    text-decoration: none;
    border-radius: 5px;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
}

.categoryw {
    padding: 20px;
    margin: 10px;
    height: 250px;
    width: 250px;
    background: url(../images/baner-right-image-01.jpg);
}
.categorym {
    padding: 20px;
    margin: 10px;
    text-align: center;
    height: 250px;
    width: 250px;
    background: url(../images/baner-right-image-02.jpg);
}
.categoryk {
    padding: 20px;
    margin: 10px;
    text-align: center;
    height: 250px;
    width: 250px;
    background: url(../images/baner-right-image-03.jpg);
}
.categorya {
    padding: 20px;
    margin: 10px;
    text-align: center;
    height: 250px;
    width: 250px;
    background: url(../images/baner-right-image-04.jpg);
}
@media (max-width: 768px) {
    nav .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav .nav-links li {
        margin: 10px 0;
    }

    .categories {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .mainsec{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
    }
*{

}
}